<div class="animated zoomIn bg-white py-6 sm:py-8 mt-19 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <h1
        class=" mb-12 text-3xl text-center mt-10 leading-8 font-extrabold tracking-tight text-gray-900 md:text-5xl dark:text-white">
        < aboutMe>
      </h1>
      <p class="animated zoomIn mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
        A FullStack developer with one year of experience specialized in creating applications using Angular, Java, C#, TypeScript, JavaScript, SQL, Ionic, MongoDB, PHP, HTML, and CSS. Applying it in real-world environments through participation in the "Factoria F5" Bootcamp for FullStack Web Development and the completion of a Superior Degree in Multiplatform Application Development. 

      </p>
    </div>
  </div>