<h1 class="animated zoomIn text-4xl text-center mt-10 leading-8 font-extrabold tracking-tight text-gray-900 md:text-5xl dark:text-white">
  Projects
</h1>

<section>
  <div class="relative px-4 py-12 sm:px-6 lg:py-16 lg:px-8">
    <div class="relative mx-auto max-w-7xl">
      <div class="grid max-w-lg gap-5 mx-auto lg:grid-cols-3 lg:max-w-none">
        
        <!-- Card 1 -->
        <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
          <div class="flex-shrink-0">
            <a href="https://github.com/project-assigments-p2-singulaars/toquen-el-dom-jordisandraoscar">
              <img class="contenedor-imagen fade-in object-cover w-full h-48" src="../../assets/img/proyecto1.png" alt="Example Project 1" />
            </a>
          </div>
          <div class="fade-in flex flex-col justify-between flex-1 p-6 bg-white">
            <div class="flex-1">
              <p class="text-xl font-semibold text-neutral-600">TOQUEN EL DOM</p>
              <div class="project-details">
                <p class="project-description text-base text-gray-500">>This project involved creating a website for the music school “Play the DOM”, where users can practice with musical instruments in an interactive way. HTML, CSS and JavaScript are used, focusing on manipulating the DOM to achieve a dynamic user experience.</p>
                <div class="github-links">
                  <a href="https://github.com/project-assigments-p2-singulaars/toquen-el-dom-jordisandraoscar" class="custom-link">Github repository</a><br />
                </div>
              </div>
              <div class="flex gap-1 mt-10">
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-800 text-gray-800 dark:border-dark">HTML5</span>
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-800 text-gray-800 dark:border-dark">CSS</span>
              </div>
              <div class="flex gap-1 mt-3">
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-800 text-gray-800 dark:border-dark">JavaScript</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
          <div class="flex-shrink-0">
            <a href="https://github.com/iKoloser/soundwave">
              <img class="contenedor-imagen fade-in object-cover w-full h-48" src="../../assets/img/proyecto2.png" alt="Example Project 2" />
            </a>
          </div>
          <div class="fade-in flex flex-col justify-between flex-1 p-6 bg-white">
            <div class="flex-1">
              <p class="text-xl font-semibold text-neutral-600">Soundwave</p>
              <div class="project-details">
                <p class="project-description text-base text-gray-500">This project involved developing a landing page for SoundWave, a music streaming platform. Built with Angular 17 and styled using Sass, the page was designed to boost user subscriptions. It features responsive design and smooth navigation, adhering closely to the UX prototype.</p>
                <div class="github-links">
                  <a href="https://github.com/iKoloser/soundwave" class="custom-link">Github repository</a><br />
                </div>
              </div>
              <div class="flex gap-1 mt-10">
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-800 text-gray-800 dark:border-dark">Angular 17</span>
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-800 text-gray-800 dark:border-dark">SCSS</span>
              </div>
              <div class="flex gap-1 mt-3">
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-800 text-gray-800 dark:border-dark">HTML5</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
          <div class="flex-shrink-0">
            <a href="https://github.com/project-assigments-p2-singulaars/ecommerce_duck_U">
              <img class="contenedor-imagen fade-in object-cover w-full h-48" src="../../assets/img/proyecto3.png" alt="Example Project 3" />
            </a>
          </div>
          <div class="fade-in flex flex-col justify-between flex-1 p-6 bg-white">
            <div class="flex-1">
              <p class="text-xl font-semibold text-neutral-600">DUCK U</p>
              <div class="project-details">
                <p class="project-description text-base text-gray-500">
                  Duck U is a mobile-first e-commerce site for rubber ducks, with future desktop support. It allows you to browse duck categories, view detailed product information, add items to your cart, and find nearby physical stores.</p>
                <div class="github-links">
                  <a href="https://github.com/project-assigments-p2-singulaars/ecommerce_duck_U" class="custom-link">Github repository</a><br />

                </div>
              </div>
              <div class="flex gap-1 mt-10">
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-800 text-gray-800 dark:border-dark">Angular</span>
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-800 text-gray-800 dark:border-dark">TypeScript</span>
              </div>
              <div class="flex gap-1 mt-3">
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-800 text-gray-800 dark:border-dark">JSON Server</span>
              </div>
              <div class="flex gap-1 mt-3">
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-800 text-gray-800 dark:border-dark">Sass</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
          <div class="flex-shrink-0">
            <a href="https://github.com/iKoloser/DestinyBuildsFront">
              <img class="contenedor-imagen fade-in object-cover w-full h-48" src="../../assets/img/proyecto4.png" alt="Example Project 4" />
            </a>
          </div>
          <div class="fade-in flex flex-col justify-between flex-1 p-6 bg-white">
            <div class="flex-1">
              <p class="text-xl font-semibold text-neutral-600">DESTINY BUILDS</p>
              <div class="project-details">
                <p class="project-description text-base text-gray-500">Description for project 4.</p>
                <div class="github-links">
                  <a href="https://github.com/iKoloser/DestinyBuildsFront" class="custom-link">Github repository</a><br/>
                </div>
              </div>
              <div class="flex gap-1 mt-10">
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-800 text-gray-800 dark:border-dark">Angular</span>
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-800 text-gray-800 dark:border-dark">.NET</span>
              </div>
              <div class="flex gap-1 mt-3">
                <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-800 text-gray-800 dark:border-dark">JWT</span>
              </div>
            </div>
          </div>
        </div>

      

      </div>
    </div>
  </div>
</section>
